<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <title>list_rendering</title>
</head>
<body>

    <div id="myapp">
        <h1>Lista di utenti</h1>
        <!-- <ul>
            <li v-for="user in users">{{ user }}</li>
        </ul> -->
        <div class="card" 
            v-for="user in users"
            :key="user.id" >
            <div class="card=body">
                <p>
                    <strong>Nome:</strong>
                    {{ user.name }}
                </p>
                <p>
                    <strong>Professione</strong>
                    {{ user.professione }}
                </p>
            </div>
        </div>

        <!-- <hr>
        <h2> Numeri da 1 a 10 </h2>
        <p v-for="number in 10">{{ number }}</p>
        <br> -->


    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="list_rendering.js"></script>
</body>
</html>